h4 {
  font-family: "Sometype Mono", monospace;
  font-weight: 500;
  font-size: 40px;
  margin: 5px 0px 0px 0px;
  padding-bottom: 20px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

p:last-child {
  margin-bottom: 0px;
}

.lines {
  font-size: 20px;
  margin-top: -15px;
}

.border {
  min-width: 30px;
}

.section-wrapper {
  display: flex;

  gap: 40px;
  width: 80vw;
  margin: 40px 0px 0px 70px;
  padding: 0px;
}
